 .menu {
  background:black;
      font-family:serif;
      position: fixed;
      top: 0px;
     width:100%;
      z-index: 10;
      cursor: pointer;
  }
  
  .links {
      display: inline;
  
      padding-left: 33px;
      padding-right: 25px;
      font-family: fantasy;
      font-size: 20px;
  }
  
  .links:hover {
      font-size: 25px;
      text-decoration: underline;
  }
  
  html {
      scroll-behavior: smooth;
  } 
  
  a {
      text-decoration: none;
      color:white;
      text-shadow: 2px 2px grey;
  }
  
  .article:hover {
      color: fuchsia;
  }

    body {
      margin: 0;
      padding-top: 800px;
      text-align: center;
  }
  
  .profile {
      width: 175px;
      margin-bottom: 50px;
      margin-top:100px;

      Border-radius: 40%;
  }
  
  #home {
      position: absolute;
  
      height: 800px;
      color: #ffffff;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      opacity: 0.83;
      background: url('images/home_background.png');
      background-size:cover;
      display: table;
      width: 100%;
      height: 100%;
      z-index: 9;
  }
  
  h1 {
      font-size: 40px;
      line-height: 1.2;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
  }
  
  #name {
      font-size: 30px;
      line-height: 1.2;
      font-family: 'Lobster', cursive;
  }
  .line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
#address h3{
    display:inline;
 }

 #address a
 {
     color:white;
     text-shadow:none;
 }

 #address{
    background:firebrick;
    color:white;
    padding:10px;
    font-weight: bolder;
    font-size:20px;
}
#contact1 h3{
   display:inline;
   text-decoration:underline;
}
#contact{
    padding:10px;
    background:tomato;
}